@charset "utf-8"
@import "_s_config"
@import "_s_reset"
@import "_s_mixin"    
@import "_s_base"



@keyframes left-right {
    0% {
        transform translate3d(-200%, 0, 0)
    }
    100% {
        transform translate3d(0, 0, 0)
    }
}

@keyframes mask-bg {
  0% {
    transform: translate3d(0, 101%, 0)
  }
  40%, 60% {
    transform: translate3d(0, 0%, 0)
  }
  100% {
    transform: translate3d(0, -101%, 0)
  }
}

@keyframes slideBottomTopIn {
    0% {
        transform translate3d(0, 110%, 0)
    }
    100% {
        transform translate3d(0, 0, 0)
    }
}

@keyframes slideRightLeftIn {
  0% {
    transform: translate3d(101%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0,  0);
  }
}

@keyframes slideLeftRightIn {
  0% {
    transform: translate3d(-101%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0,  0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

.l-contentsWrapper
    max-width 1340px
    margin 0 auto

    &>.l-mqWrapper
        +MQ_MAX(1340px)
            padding 0 10px

    &.is-middle
        max-width 1200px
        &>.l-mqWrapper
            +MQ_MAX(1200px)
                padding 0 10px
    &.is-small
        max-width 1000px



            



.m-baseText01
    font-size clamp(1.2rem, 1.2cqw, 1.6rem)
    b
        font-weight bold

.m-largeText01
    container-type inline-size
    font-size clamp(1.6rem, 2.4cqw, 2.4rem)
    font-weight bold

.is-fadeInAnimation
    &>div, &>span, &>p, &>h3
        opacity 0

        .is-inview &
            animation-name fadeIn
            animation-duration 0.3s
            animation-timing-function ease-out
            animation-fill-mode forwards

.is-slideUpDownInTextAnimation
    display flex
    overflow hidden

    &>span, &>p, &>h3

        display block
        transform translate3d(0, 110%, 0)

        .is-inview &
            animation-name slideBottomTopIn
            animation-duration 0.3s
            animation-timing-function ease-out
            animation-fill-mode forwards

        for num in (1..200)
            &:nth-of-type({num})
                animation-delay (0.1s + num * 0.04)s

    &>p, &>h3
        span
          .page-leave-active &
              opacity 0
              transition opacity 0.3s ease
              will-change opacity

.is-slideLeftRightInTextAnimation
    
    display flex
    span
        overflow hidden
        display block
        span
            display block
            transform translate3d(-110%, 0, 0)

            .is-inview &
                animation-name left-right
                animation-duration 0.7s
                animation-timing-function ease-out
                animation-fill-mode forwards

        for num in (1..200)
            &:nth-of-type({num})
                span
                    animation-delay (0.1)s

.l-mainWrapper
  will-change opacity

.page-enter-active
.page-leave-active
    transition-duration 0.8s

.page-enter
.page-leave-active
    .l-mainWrapper
      opacity 0
      transition opacity 0.5s 0.3s cubic-bezier(.82,.03,1,.23)

