@charset "utf-8"
@import "_s_config"
@import "_s_reset"
@import "_s_mixin"    
@import "_s_base"

.l-contentsWrapper
    max-width 1340px
    margin 0 auto

    &>.l-mqWrapper
        +MQ_MAX(1340px)
            padding 0 10px

    &.is-middle
        max-width 1200px
        &>.l-mqWrapper
            +MQ_MAX(1200px)
                padding 0 10px

.m-sectionTitle01
    container-type inline-size
    display flex
    flex-direction column

    span
        display block
        position relative
        
        &.is-jp
            color rgba(#040278, 0.8)
            font-size clamp(2.0rem, 4cqw, 4.0rem)
            font-weight bold
            line-height 1.0
            z-index 100

        &.is-en
            margin-top -0.15em
            color rgba(#171663, 0.2)
            font-family 'Oswald', sans-serif
            font-size clamp(9.0rem, 15cqw, 15.0rem)
            font-weight bold
            line-height 0.8
            vertical-align top
            z-index 0

.m-largeText01
    container-type inline-size
    font-size clamp(1.6rem, 2.4cqw, 2.4rem)
    font-weight bold


                    

// .l-mqWrapper
//     .l-contentsWrapper &
        
    // +MQ_MAX(PC_RES_WID01)
    //     padding 0 10px
    // +MQ_MAX(SP_RES_WID01)
    //     padding 0 15px

// body
// 	background-color #F00

// .page-enter
// 	opacity 0
// 	.c-topBtnSection01
// 		.componentWrapper
// 			ul
// 				li
// 					transform scale(0) !important
// 	.c-topBottomBlock01
// 		transform translate3d(0, 100%, 0) !important

// 	// .l-indexPage01.is-loaded
// 	// 	.c-topBottomBlock01
// 	// 		transform translate3d(0, 100%, 0)
	
// .page-enter-active
// 	transition all 0.3s
// 	.c-topBtnSection01
// 		.componentWrapper
// 			ul
// 				li
// 					transition-duration 0.3s
// 					&:nth-of-type(2)
// 						transition-delay 0.1s
// 					&:nth-of-type(3)
// 						transition-delay 0.2s
// 					&:nth-of-type(4)
// 						transition-delay 0.3s
// 					&:nth-of-type(5)
// 						transition-delay 0.4s
// 					&:nth-of-type(6)
// 						transition-delay 0.5s
// 	.c-topBottomBlock01
// 		transition-delay 1.0s
	
// 	// .l-indexPage01.is-loaded
// 	// 	.c-topBottomBlock01
// 	// 		transform translate3d(0, 100%, 0)

