@charset "utf-8"
@import "_s_config"
@import "_s_reset"
@import "_s_mixin"    
@import "_s_base"

// body
// 	background-color #F00

// .page-enter
// 	opacity 0
// 	.c-topBtnSection01
// 		.componentWrapper
// 			ul
// 				li
// 					transform scale(0) !important
// 	.c-topBottomBlock01
// 		transform translate3d(0, 100%, 0) !important

// 	// .l-indexPage01.is-loaded
// 	// 	.c-topBottomBlock01
// 	// 		transform translate3d(0, 100%, 0)
	
// .page-enter-active
// 	transition all 0.3s
// 	.c-topBtnSection01
// 		.componentWrapper
// 			ul
// 				li
// 					transition-duration 0.3s
// 					&:nth-of-type(2)
// 						transition-delay 0.1s
// 					&:nth-of-type(3)
// 						transition-delay 0.2s
// 					&:nth-of-type(4)
// 						transition-delay 0.3s
// 					&:nth-of-type(5)
// 						transition-delay 0.4s
// 					&:nth-of-type(6)
// 						transition-delay 0.5s
// 	.c-topBottomBlock01
// 		transition-delay 1.0s
	
// 	// .l-indexPage01.is-loaded
// 	// 	.c-topBottomBlock01
// 	// 		transform translate3d(0, 100%, 0)

